.carousel-container {
    width: 100%; 
    height: 600px; 
    overflow: hidden;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  .carta1{
    margin: 20px;
  }